
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #161d54; /* Fond similaire à bmoney.live */
    color: white;
    padding-top: 60px; /* Espace pour le menu fixe */
}

/* Menu du haut fixe */
nav {
    margin-left: 16%;
    margin-right: 16%;
    display: flex;
    justify-content: center;
    
}

header{
    background-color: rgba(26, 26, 26, 0.7); /* Fond transparent avec opacité */
    backdrop-filter: blur(10px); /* Effet de flou en arrière-plan */
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    padding: 15px;
    align-items: center;
}

nav a {
    font-family: 'Protest Strike';
    position: relative; /* Positionnement relatif pour le sous-menu */
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden; /* Empêche le texte de déborder */
    padding: 10px; /* Ajoutez du padding pour que l'effet soit plus visible */
    border-radius: 5px; /* Ajoutez des coins arrondis */
}

.menuEffet {
    font-family: 'Protest Strike';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 254, 252, 0.2); /* Couleur de fond pour le menu effet */
    border-radius: 5px; /* Arrondir les coins du fond */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transition pour l'effet */
    transform: scale(0); /* Commencez par être invisible */
    z-index: -1; /* Positionner derrière le texte */
    opacity: 0.5;
}

nav a:hover .menuEffet {
    transform: scale(1); /* L'effet devient visible au survol */
    opacity: 0.2;
}

/* Section principale */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    padding-top: 50px;
}

/* Texte à gauche de la photo */
.info {
    text-align: left;
    margin-right: 50px;
    
}

.info h1 {
    font-family: 'Protest Strike';
    font-size: 36px;
    margin-bottom: 10px;
}

.info p {

    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Image de Paul Le Roux */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.image-container {
    position: relative; /* Positionnement relatif pour l'image */
    width: 400px; /* Largeur de l'image */
    height: 400px; /* Hauteur de l'image */
    display: flex; /* Utilisation de flex pour centrer */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    overflow: hidden; /* Empêche le débordement de l'image */
}

.detected {
    position: relative; /* Positionnement relatif pour l'image */
    width: 400px; /* Largeur de l'image */
    height: 400px; /* Hauteur de l'image */
    display: flex; /* Utilisation de flex pour centrer */
    justify-content: center; /* Centrer horizontalement */
    align-items: center;
    transition: transform 0.3s ease; /* Ajout de transition pour le mouvement */
}

.image-container .detected img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    position: absolute; /* Utiliser position absolute pour l'image */
    z-index: 1; /* Positionner derrière le cercle */
    transition: transform 0.3s ease;
}

/* Boutons sociaux */

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 8px; /* Réduit l'espacement entre les liens */
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}
.social-buttons2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
    /* Couleur de fond avec transparence */
    border-radius: 10px; /* Arrondir les coins si nécessaire */
}

.social-buttons2 a {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    /* Couleur de fond avec transparence */
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    gap: 8px;
}

.social-buttons a {
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}

.social-buttons a:hover {
 /* Changement de couleur au survol */
    transform: scale(1.1);
}

.social-buttons img {
    width: 80px;
    height: 80px;
    
}

.social-buttons img:hover, .social-buttons2 img {
    width: 80px;
    height: 80px;
    
}

.social-buttons img:hover{
    transform: scale(1.1);

}
@media (min-width: 725px) {
    .boxp{
        padding: 20px;
        margin: 50px;
    }
}
/* Media Queries pour la réactivité */
@media (max-width: 1005px) {
    .container {
        display: flex;
        flex-wrap: wrap-reverse;
         /*flex-direction: column; Colonne sur petits écrans */
        padding: 20px; /* Réduit le padding */
    }

    .info {
        margin-right: 0;
        text-align: center; /* Centre le texte */
    }

    

    .info h1 {
        font-size: 28px; /* Réduit la taille du texte */
    }

    .info p {
        font-size: 18px; /* Réduit la taille du texte */
    }
    .social-buttons img {
        width: 40px;
        height: 40px;
        
    }


    .social-buttons2 img {
        width: 40px;
        height: 40px;
        
    }

    .image-container .detected img {
        max-width: 50%;
        max-height: 90%;
        border-radius: 10px;
        position: absolute; /* Utiliser position absolute pour l'image */
        z-index: 1; /* Positionner derrière le cercle */
        transition: transform 0.3s ease;
    }

    .image-container {
        position: relative; /* Positionnement relatif pour l'image */
        width: 300px; /* Largeur de l'image */
        
    
    }

    .detected {
        position: relative; /* Positionnement relatif pour l'image */
        width: 300px; /* Largeur de l'image */
        height: 400px; /* Hauteur de l'image */
        display: flex; /* Utilisation de flex pour centrer */
        justify-content: center; /* Centrer horizontalement */
        align-items: center;
        transition: transform 0.3s ease; /* Ajout de transition pour le mouvement */
    }

    .det2{
        margin-top: -150px;
    }
    .swiper {
        padding-left: 0px;
        margin-left: 0px;
        width: 100%;
        min-width: 500px;
        
    }
    .boxp{
        justify-content: center;
        align-items: center; 
        padding: 1px; 
        margin: 1px;
    }

    nav {
        display: none; /* Cache la navigation sur les petits écrans */
    }
    .bt_buy{
        margin-left: 40%;
        margin-right: 10%;
    }
    
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: none;
}
.iconTo img{
    width: 70px;
    height: 70px;
    position: relative;
}
.bt_buy a{
    font-family: 'Protest Strike';
    position: relative; /* Positionnement relatif pour le sous-menu */
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    overflow: hidden; /* Empêche le texte de déborder */
    padding: 10px; /* Ajoutez du padding pour que l'effet soit plus visible */
    border-radius: 5px; /* Ajoutez des coins arrondis */

    background-color: #040931;
    border-radius: 50px;
    border: 2px solid rgb(223, 215, 6); 

}
.bt_buy a:hover{
    background-color: rgb(223, 215, 6);
}
.reseau{
    width: 55%;
    align-items: center;
}
.set2{
    margin-left: 10px;
    padding-left: 10px;
}


.boxp{
    background-color: #040931;
    display: flex;
    flex-wrap: wrap-reverse;
    border-radius: 50px;
    border: 10px solid rgb(223, 215, 6);
    align-items: center; 
}

.boxp2{
    background-color: #040931;
    padding: 20px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    position: relative;
    align-items: center; 
}
.boxp21{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
.swiper {
    width: 50%;
    
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    
    color: white;
}

.is-character-text {
    font-size: 48px;
    text-align: center;
}

.is-heading {
    font-size: 32px;
    margin-bottom: 20px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.is-sp-content{
    align-items: center;
}

.is-character-1, .is-character-3, .is-character-2{
    
    margin-top: 25px;
    margin-bottom: 40px;
}

.is-heading{
    font-family: 'Protest Strike';
}

/* Style pour centrer toute la section */
.boxp21 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    text-align: center; /* Centre le texte à l'intérieur */
}

/* Centre les éléments à l'intérieur de .boxp2 */
.boxp2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style pour le texte "SOCIALS" */
.social-header {
    font-family: 'Speeday';
    font-size: 24px;
    margin-bottom: 20px; /* Espace sous le titre */
}

/* Style des icônes de médias sociaux */
.social-buttons2 {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les icônes */
}

.social-buttons2 a img {
    width: 80px; /* Ajuste la taille des icônes */
    height: 80px;
}

.site-footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Texte du footer */
.site-footer p {
    margin: 0;
    font-size: 14px;
}
